@charset "utf-8";

.doublewide #anu-features-rotating,
.doublewide #anu-features-rotating-2 {
  width: 100%;
  margin: 0;
}

/* TODO: Remove when Webstyle fixes ticker link. */

#features-nav-rotating li a.anu-feature-nav-link,
#features-nav-rotating-2 li a.anu-feature-nav-link,
#features-nav-rotating-22 li a.anu-feature-nav-link,
#features-nav-vertical li a.anu-feature-nav-link,
#features-nav-vertical-w li a.anu-feature-nav-link,
#features-nav-ticker li a.anu-feature-nav-link,
#features-nav-rotating li a.anu-feature-nav-link:hover,
#features-nav-rotating-2 li a.anu-feature-nav-link:hover,
#features-nav-rotating-22 li a.anu-feature-nav-link:hover,
#features-nav-vertical li a.anu-feature-nav-link:hover,
#features-nav-vertical-w li a.anu-feature-nav-link:hover,
#features-nav-ticker li a.anu-feature-nav-link:hover {
  border: 0;
}

#features-nav-rotating li a.anu-feature-nav-link,
#features-nav-rotating-2 li a.anu-feature-nav-link,
#features-nav-rotating-22 li a.anu-feature-nav-link,
#features-nav-vertical li a.anu-feature-nav-link,
#features-nav-vertical-w li a.anu-feature-nav-link,
#features-nav-rotating li a.anu-feature-nav-link:hover,
#features-nav-rotating-2 li a.anu-feature-nav-link:hover,
#features-nav-rotating-22 li a.anu-feature-nav-link:hover,
#features-nav-vertical li a.anu-feature-nav-link:hover,
#features-nav-vertical-w li a.anu-feature-nav-link:hover {
  background-color: white;
}

.anu-feature-rotator .anu-feature-nav-link img {
  width: 18px;
}

/* Ticker */
#prev-btn:hover,
#play-btn:hover,
#pause-btn:hover,
#next-btn:hover {
  cursor: pointer;
}

/* Large gallery rotator. */
#f4 .control .control-play,
#f4 .control .control-pause {
  display: none;
}
#f4 .control.control-state-playing .control-pause {
  display: block;
}
#f4 .control.control-state-paused .control-play {
  display: block;
}

/* Extra layout for large rotator. */
#feat #f4 {
  margin-top: 0;
}
#f4 .f4-brief div {
  display: inline;
}
.doublewide #f4 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
}
@media screen and (min-width: 960px) {
  #content #f4 {
    width: 677px;
    margin-left: 3%;
    margin-right: 3%;
  }
  #content .doublewide #f4 {
    margin-left: 0;
    margin-right: 0;
  }
  #content #f4,
  #content #f4-features,
  #content #f4-shorts {
    height: 264px;
  }
  #content #f4-features,
  #content #f4-features .f4-image,
  #content #f4-features .f4-image-text {
    width: 470px;
  }
  #content #f4-shorts {
    width: 207px;
  }

  #content #f4-features .f4-image-text {
    top: 220px;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 95%;
    line-height: 1.3em;
  }
  #content #f4-features .f4-image-text a.control {
    padding-top: 6px;
  }
  #content #f4-features .f4-title {
    font-size: 1.1em;
  }
  #content #f4-features .f4-title,
  #content #f4-features .f4-brief {
    width: auto;
    height: auto;
    margin-right: 20px;
  }

  #content #f4-shorts {
    line-height: 1.1em;
  }
  #content #f4 #f4-short-1,
  #content #f4 #f4-short-2,
  #content #f4 #f4-short-3,
  #content #f4 #f4-short-4 {
    height: 66px;
  }
  #content #f4 .f4-short-title {
    padding-top: 8px;
    padding-right: 74px;
  }
  #content #f4 .f4-short-image,
  #content #f4 .f4-short-image img {
    width: 66px;
    height: 66px;
  }
}
@media screen and (min-width: 600px) {
  #content #f4 .f4-short-brief {
    display: none;
  }
}
